{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block tab-title %} {% endblock %}</title>
  </head>
  <body class="bg-indigo-600 text-base text-white font-sans">
    <header class="text-center p-8">
      <div class="flex items-center justify-between">
        <div>
          <a href="/">
            <p class="text-3xl font-mono">
              AI Tools
            </p>
          </a>
        </div>
        <div class="flex font-sans">
          <a class="m-2 hover:animate-bounce" href="translation"><h2>翻訳</h2></a>
          <a class="m-2 hover:animate-bounce" href="proofreading"><h2>校正</h2></a>
          <a class="m-2 hover:animate-bounce" href="talk"><h2>会話</h2></a>
        </div>
      </div>
    </header>
    <main class="p-6 md:p-10">{% block content %} {% endblock %}</main>

    <div class="px-5">{% block subcontent %} {% endblock %}</div>
  </body>
</html>
