{% extends "base.html" %}
{% block tab-title %}
物語作成
{% endblock %}
{% block content %}
<div>
    <form method="post" action="{% url 'story' %}" class="px-6 md:px-10">
        {% csrf_token %}
        <div class="flex flex-col md:flex-row">
            <div class="w-full md:w-1/2 p-4">
                <label for="world" class="mb-2">舞台設定</label>
                <input id="world" name="world" type="text" placeholder="舞台設定を入力してください 例:異世界,江戸時代,宇宙,サイバーパンク etc..." class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800">
                <label for="character_1">人物1</label>
                <input id="character_1" name="character_1" type="text" placeholder="人物1を入力してください 例:キリト" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 ">
                <label for="character_2">人物2</label>
                <input id="character_2" name="character_2" type="text" placeholder="人物2を入力してください 例:アスナ" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 ">
            </div>

            <div class="w-full md:w-1/2 p-4 flex flex-col">
                <label for="theme">テーマ:</label>
                <input id="theme" name="theme" type="text" placeholder="テーマを入力してください 例:友情、恋愛、運命 etc.." class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 ">
                <label for="goal">目標:</label>
                <input id="goal" name="goal" type="text" placeholder="目標を入力してください 例:魔王を倒す、大会に優勝する 等" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 ">
                <label for="conflict">障害や壁:</label>
                <input id="conflict" name="conflict" type="text" placeholder="物語の障害や壁を入力してください 例:中ボスが出てくる、試合に負けかける 等" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 ">


            </div>
        </div>
        <div class="p-4">
            <label for="setting">追加設定:</label>
            <input id="setting" name="setting" type="text" placeholder="追加設定を入力してください 例:" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-800 ">
        </div>

        <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 active:bg-blue-700 text-white font-bold py-3 px-6 rounded-full transition-colors duration-300" name="GenBtn" id="GenBtn">生成開始</button>
        </div>
        <div class="w-full p-4">
            <label for="generated_story">生成された文章</label>
            <textarea name="generated_story" id="generated_story" class="text-black w-full rounded-md p-3" rows="10" readonly>{{generated_story}}</textarea>
        </div>
    </form>
</div>
{% endblock %}
