{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AI Tools</title>
  </head>
  <body class="bg-indigo-600 text-base text-white font-sans w-100 h-screen">
    <header class="text-center pl-5 pr-5 pt-5 pb-5 sm:pl-20 sm:pr-20 sm:pt-10 sm:pb-10">
      <div class="stickey flex items-center justify-between">
        <div>
          <a href="/">
            <p class="justify-left text-3xl font-mono">
              AI Tools
            </p>
          </a>
        </div>
        <div class="flex pl-3 pr-3">
          <div class="flex pl-3 pr-3">
            <a href="https://github.com/shi0n0/multi-translate-app">
              Github
            </a>
          </div>
          <div class="flex pl-3 pr-3">
            <a href="https://twitter.com">
              作者のtwitter
            </a>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="p-5 sm:p-10 lg:p-20 text-black flex flex-wrap justify-center content-center">
        <a href="translation" class="w-full sm:w-auto">
          <div class="bg-white p-5 sm:p-20 m-2 sm:m-5 rounded text-xl hover:bg-gray-100 active:bg-gray-200 hover:scale-105">
            翻訳
          </div>
        </a>
        <a href="proofreading" class="w-full sm:w-auto">
          <div class="bg-white p-5 sm:p-20 m-2 sm:m-5 rounded text-xl hover:bg-gray-100 active:bg-gray-200 hover:scale-105">
            校正
          </div>
        </a>
        <a href="talk" class="w-full sm:w-auto">
          <div class="bg-white p-5 sm:p-20 m-2 sm:m-5 rounded text-xl hover:bg-gray-100 active:bg-gray-200 hover:scale-105">
            会話
          </div>
        </a>
      </div>
    </main>
  </body>
</html>
