{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AI Tools</title>
  </head>
  <body class="bg-indigo-600 text-base text-white font-sans w-100 h-screen">
    <header class="text-center pl-20 pr-20 pt-10">
      <div class="stickey flex items-center justify-between">

        <div>
          <p class="justify-left text-3xl font-mono">
            AI Tools
          </p>
        </div>

        <div class="flex pl-3 pr-3">
            <div class="flex pl-3 pr-3">
                Github
            </div>
            <div class="flex pl-3 pr-3">
                twitter
            </div>
        </div>
      </div>
    </header>
  <main>
    <div class="p-40 text-black flex justify-center">
      <div class="bg-white p-20 m-10 rounded">翻訳</div>
      <div class="bg-white p-20 m-10 rounded">校正</div>
    </div>
  </main>

  </body>
</html>
