{% extends "base.html" %}
{% block tab-title %}
AI翻訳
{% endblock %}
{% block content %}
<form method="post" action="{% url 'translation' %}" class="flex flex-col content-center justify-center text-black md:flex-row">

    <div class="md:w-full">
        {% csrf_token %}
        <label for="input_text" class="text-white">翻訳するテキスト</label><br>
        <textarea class="rounded-lg w-full h-50 p-3" id="input_text" name="input_text" rows="10" placeholder="ここに翻訳するテキストを入力してください"></textarea>
    </div>
    
    <div class="text-white flex justify-center m-1flex-row md:flex-col">
        <button type="submit" class="w-8 h-8 md:w-12 md:h-12 mx-1 my-2 text-3xl md:text-4xl rounded-full bg-blue-500 hover:bg-blue-600 text-white" name="transBtn">
            <span class="md:hidden">↓</span>
            <span class="hidden md:inline">→</span></button>
        <button type="submit" class="w-8 h-8 md:w-12 md:h-12 mx-1 my-2 text-3xl md:text-4xl rounded-full bg-blue-500 hover:bg-blue-600 text-white md:mt-2" name="reverseBtn">
            <span class="md:hidden">↑</span>
            <span class="hidden md:inline">←</span>
        </button>
    </div>
    
    <div class="md:w-full">
        {% csrf_token %}
        <label for="translated_text" class="text-white">翻訳されたテキスト</label>
        <button class="text-white text-sm bg-blue-500 hover:bg-blue-600 px-2 py-0.5 rounded-md" onclick="copyToClipboard(event)">コピー</button>
        <br>
        <textarea class="rounded-lg w-full h-50 p-3" id="translated_text" name="translated_text" rows="10" placeholder="ここに翻訳後のテキストが表示されます。&#10;このテキストを日本語に再翻訳したい場合は←ボタンを押してください" readonly></textarea>
    </div>
</form>
{% endblock %}
{% block subcontent %}
<p class="text-2xl">【使用方法】</p>
<p>1. 左のテキストエリアに翻訳した文章を入力します</p>
<p>2. 真ん中にある実行ボタンを押します</p>
<p>3. 翻訳結果が表示されます<br></p>
<br>
<p class="text-2xl">【仕様説明】</p>
<p class="text-xl text-yellow-300">※tokenの影響で長い文章だと途切れてしまうので短文程度でお願いします</p>
<p>この翻訳にはGPTAPIを使用しています。モデルは"text-davinci-003"。<br>
GPTを使用した自然言語処理翻訳のため精度が比較的高く、適切な翻訳が生成されます。<br>
とはいえ、あくまでAIという未だ不安定な技術のため、場合によっては不適切な翻訳が生成されることをあらかじめご了承ください。</p>

<div>
    {% if translated_text %}
    <script>
        var textarea = document.getElementsByName("translated_text")[0];
        textarea.value = "{{ translated_text }}";

        var textarea = document.getElementsByName("input_text")[0];
        textarea.value = "{{ input_text }}"

        function copyToClipboard(event) {
            event.preventDefault();
            var textarea = document.getElementById("translated_text");
            var text = textarea.value;
            
            navigator.clipboard.writeText(text).then(function() {
                // Optional: Change the button text to indicate successful copying
                var copyButton = document.getElementById("copyButton");
                alert("Copied!")
            }).catch(function(err) {
                console.error('Failed to copy text: ', err);
            });
        }
    </script>
    {% endif %}
</div>
{% endblock %}
