{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>自然言語翻訳</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>翻訳フォーム</h1>
    <div class="transForm">
        <form method="post" action="">
            {% csrf_token %}
            <label for="input_text">翻訳するテキスト</label><br>
            <textarea id="input_text" name="input_text" rows="4" cols="50"></textarea><br><br>
            <input type="submit" value="Translate">
        </form>

        <form method="post" action="">
            {% csrf_token %}
            <label for="input_text">翻訳されたテキスト</label><br>
            <textarea id="input_text" name="translated_text" rows="4" cols="50"></textarea><br><br>
        </form>
    </div>

    {% if translated_text %}
    <script>
        var textarea = document.getElementsByName("translated_text")[0];
        textarea.value = "{{ translated_text }}";

        var textarea = document.getElementsByName("input_text")[0];
        textarea.value = "{{ input_text }}"
    </script>
    {% endif %}
</body>
</html>
